.no-padding {
  padding: 0px !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@-webkit-keyframes rightan
{
  from
  {
    transform: translateY(-2px);
  }
  to
  {
    transform: translateY(3px);
  }
  0% {transform: translateY(-2px);}
  70% { transform: translateY(3px);}
  100% {transform: translateY(-2px);}
}
.rightan
{
  -webkit-animation: rightan 1s infinite;
  -webkit-animation-fill-mode: both;
}

.submit-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  background: #fff;
}

.app-main {
  .pagination-bar {
    text-align: right;
    padding-top: 20px;
  }
  .table-bar {
    margin-top: 20px;
  }
  .el-table {
    tr {
      &:hover {
      }
    }
    .el-table__header-wrapper {
      tr {
        background-color: #fafafa;
      }
    }
    td,th.is-leaf,thead.is-group th {
      text-align: center;
    }
  }
}

// 客户管理-新增编辑
.customer-add {
  .customer-add-form {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    padding: 20px;
    background: #fff;
  }
}
.custom-form {
  .el-col {
    height: 63px !important;
  }
}
// 客户管理，省市区样式
.provinces-form {
  font-size: 14px;
  color: #606266;
  height: 63px;
  &:before, &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  > label {
    float: left;
    padding-right: 12px;
    width: 80px;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
    &:before {
      content: '*';
      margin-right: 4px;
      color: #f56c6c;
    }
  }
  > div {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > .el-form-item {
      display: inline-block;
      width: 32% !important;
      .el-select {
        width: 100% !important;
      }
    }
  }
}
